
@page "/EditUser"
@using WebBlazorAPI.Shared.Account
@using WebBlazorAPI.Shared.DTO.Ciudad
@using WebBlazorAPI.Shared.DTO.Pais
@using WebBlazorAPI.Shared.DTO.Provincia
@using WebBlazorAPI.Shared.Enums
@using WebBlazorAPI.WebSite.Repositorio

@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager
@inject ILoginService loginService
@inject ToastService ToastService

@if (user is null)
{
    <div class="spinner" />
}
else
{

    <div class="principal">
        <div class="login-register-container">
            <div class="page-wrapper">
                <EditForm Model="user" OnValidSubmit="SaveUserAsync" FormName="EditUser">
                    <DataAnnotationsValidator />
                    <ValidationSummary></ValidationSummary>
                    <div class="form-card">
                        <h2 class="form-title"><i class="bi bi-ui-checks-grid"></i> Edit User</h2>
                        <Tabs EnableFadeEffect="true" id="formTab" class="tab-content active">
                            <Tab Active="true">
                                <TitleTemplate>
                                    <Icon Name="IconName.HouseFill" /> Edit User
                                </TitleTemplate>
                                <Content>
                                    <div class="tab-content-inner">
                                        <!-- Contenedor de 2 columnas -->
                                        <div class="form-row">
                                            <!-- Formulario -->
                                            <div class="form-group col-md-6">
                                                <label class="form-label">Nombre</label>
                                                <div class="input-icon">
                                                    <i class="bi bi-person"></i>
                                                    <input class="form-control" @bind="user.FirstName" placeholder="Nombre" />
                                                </div>
                                                <ValidationMessage For="@(() => user.FirstName)" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label">Apellido</label>
                                                <div class="input-icon">
                                                    <i class="bi bi-person"></i>
                                                    <input class="form-control" @bind="user.LastName" placeholder="Apellido" />
                                                </div>
                                                <ValidationMessage For="@(() => user.LastName)" />
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="form-label">Teléfono</label>
                                                <div class="input-icon">
                                                    <i class="bi bi-phone"></i>
                                                    <input type="tel" class="form-control" @bind="user.PhoneNumber" placeholder="Teléfono" />
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label">Pais</label>
                                                <div class="input-icon">
                                                    <i class="bi bi-globe"></i>
                                                    <select class="form-select" @onchange="CountryChangedAsync">
                                                        <option value="">-- Seleccione --</option>
                                                        @if (countries is not null)
                                                        {
                                                            @foreach (var country in countries)
                                                            {
                                                                <option value="@country.Id_pais" selected="@(country.Id_pais == user.Ciudades!.Provincias!.Paises!.Id_pais)">@country.Nombre_pais</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="form-label">Provincia</label>
                                                <div class="input-icon">
                                                    <i class="bi bi-map"></i>
                                                    <select class="form-select" @onchange="StateChangedAsync">
                                                        <option value="">-- Seleccione --</option>
                                                        @if (states is not null)
                                                        {
                                                            @foreach (var state in states)
                                                            {
                                                                <option value="@state.Id_provincia" selected="@(state.Id_provincia == user.Ciudades!.Provincias!.Id_provincia)">@state.Nombre_provincia</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label">Ciudad</label>
                                                <div class="input-icon">
                                                    <i class="bi bi-building"></i>
                                                    <select class="form-select" @bind="user.Id_ciudad">
                                                        <option value="">-- Seleccione --</option>
                                                        @if (cities is not null)
                                                        {
                                                            @foreach (var city in cities)
                                                            {
                                                                <option value="@city.Id_ciudad" selected="@(city.Id_ciudad == user.Ciudades!.Id_ciudad)">@city.Nombre_ciudad </option>
                                                            }
                                                        }
                                                    </select>
                                                    <ValidationMessage For="@(() => user.Id_ciudad)" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="form-label">Dirección</label>
                                                <div class="input-icon">
                                                    <i class="bi bi-house-door"></i>
                                                    <input type="text" class="form-control" @bind="user.Address" placeholder="Dirección" />
                                                </div>
                                                <ValidationMessage For="@(() => user.Address)" />
                                            </div>
                                        </div>
                                    </div>
                                </Content>
                            </Tab>
                            <Tab>
                                <TitleTemplate>
                                    <Icon Name="IconName.PersonFill" /> Fotos
                                </TitleTemplate>
                                <Content>
                                    <div class="upload-form text-center mt-3">
                                        <label for="profileImage" class="form-label fw-bold">Selecciona una imagen para tu perfil:</label>
                                        <InputImg Label="Foto" ImageSelected="ImageSelected" ImageURL="@imageUrl" />
                                    </div>
                                </Content>
                            </Tab>
                        </Tabs>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary btn-custom me-2">
                                Save
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-custom" @onclick="Cancelar">
                                Cancel
                            </button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>



}



@code {
    private User? user { set; get; } = new User();
    private List<PaisDropDTO>? countries;
    private List<ProvinciaDropDTO>? states;
    private List<CiudadDropDTO>? cities;
    private string? imageUrl;
    string Estado = "A";
    [CascadingParameter] BlazoredModalInstance Modal { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserAsyc();
        await LoadCountriesAsync();
        await LoadStatesAsyn(user!.Ciudades!.Provincias!.Paises!.Id_pais);
        await LoadCitiesAsyn(user!.Ciudades!.Provincias!.Id_provincia);

        if (!string.IsNullOrEmpty(user!.Photo))
        {
            imageUrl = user.Photo;
            user.Photo = null;
        }

    }

    private async Task LoadUserAsyc()
    {
        var responseHTTP = await repository.Get<User>($"/api/Accounts");
        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
                return;
            }
            var messageError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            return;
        }
        user = responseHTTP.Response;
    }

    private void ImageSelected(string imagenBase64)
    {
        user!.Photo = imagenBase64;
        imageUrl = null;
    }

    private async Task CountryChangedAsync(ChangeEventArgs e)
    {
        var selectedCountry = Convert.ToInt32(e.Value!);
        await LoadStatesAsyn(selectedCountry);
    }

    private async Task StateChangedAsync(ChangeEventArgs e)
    {
        var selectedState = Convert.ToInt32(e.Value!);
        await LoadCitiesAsyn(selectedState);
    }

    private async Task LoadCountriesAsync()
    {
        var responseHttp = await repository.Get<List<PaisDropDTO>>($"/api/Paises/ComboPais/{Estado}");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        countries = responseHttp.Response;
    }

    private async Task LoadStatesAsyn(int countryId)
    {
        var responseHttp = await repository.Get<List<ProvinciaDropDTO>>($"/api/Provincias/ComboProvincia/{countryId}/{Estado}");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        states = responseHttp.Response;
    }

    private async Task LoadCitiesAsyn(int stateId)
    {
        var responseHttp = await repository.Get<List<CiudadDropDTO>>($"/api/Ciudades/ComboCiudades/{stateId}/{Estado}");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        cities = responseHttp.Response;
    }

    private async Task SaveUserAsync()
    {
        var responseHttp = await repository.Put<User, TokenDTO>("/api/Accounts", user!);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await loginService.LoginAsync(responseHttp.Response!.Token);
        ToastService.Notify(new(ToastType.Success, $"Record Saved Successfully."));
        await Task.Delay(3000);
        await Modal.CloseAsync(ModalResult.Ok());
        navigationManager.NavigateTo("/");
    }

    private async Task Cancelar()
    {
        if (Modal != null)
        {
            await Modal.CancelAsync();
        }
        navigationManager.NavigateTo("/");
    }
}